
<form class="border p-3 rounded-3" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <h1 class="fs-3">Register</h1>


    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" class="form-control"  placeholder="Email" />
        <span class="text-danger" *ngIf="registerForm.controls['email'].dirty && registerForm.hasError('required','email')">Email is required</span>
    </div><br>

    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" formControlName="firstName" class="form-control" placeholder="First Name"/>
        <span class="text-danger" *ngIf="registerForm.controls['firstName'].dirty && registerForm.hasError('required','firstName')">First Name is required</span>
    </div><br>

    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" formControlName="lastName" class="form-control" placeholder="Last Name"/>
        <span class="text-danger" *ngIf="registerForm.controls['lastName'].dirty && registerForm.hasError('required','lastName')">Last Name is required</span>
    </div><br>
    
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password must be at least 5 characters" />
        <div class="text-danger" *ngIf="registerForm.controls['password'].dirty && registerForm.hasError('required','password')">Password is required</div>
            <div class="text-danger" *ngIf="registerForm.controls['password'].dirty && registerForm.hasError('minlength','password')" >Password must be at least 5 characters</div>
        
    </div><br>

    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password" />
        <div class="text-danger" *ngIf="registerForm.controls['confirmPassword'].dirty && registerForm.hasError('required','password')">Confirm Password is required</div>
           <div class="text-danger" *ngIf="registerForm.controls['confirmPassword'].dirty && registerForm.hasError('mustMatch','confirmPassword')" >Passwords must Match</div>  
    
    </div><br>

    <div class="form-group">
        <button class="btn btn-primary" [disabled] = "registerForm.invalid">Register</button>
        <a  [routerLink]="['/login']" >Sign In</a>
    </div>

    
  </form>