<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid ">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">Welcome to GMS, {{currentUser}}</a>
    </div>

    <div class="nav navbar-right">
        <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" >
            <i class="fa-solid fa-user"></i>     
        </button>
        <ul class="dropdown-menu dropdown-menu-end ">
            <li><a class="dropdown-item"  href="#">Logout</a></li>
         </ul>   
    </div>
      
 </div>
  
</nav>

<app-footer></app-footer>