
 mat-sidenav{
  margin:16px;
  width:200px;
  height:530px;
  border-right: none;
  background: #002b5c;
  color:white;
  border-radius:10px;
  padding: 16px;
}

p{
  text-align: center;
 }

 .applicant{
margin-left: auto;
color:aqua;
margin-right: 200px;

 }
.user{
  float:right;
  position:sticky;
  margin-top: 50px;
  margin-bottom: 200px;
  margin-left: 1260px;
  
 }
 .menu-icon{
  margin-top:40px;
  margin-left:10px;
 }

 
 
 /* .user{
  float:right;
  margin-bottom: 110px;
  margin-left: 1260px;
  
 }

 mat-icon{
  font-size: 30px;
 }
 
 .side{
  margin-bottom: 30px;
  margin-left:-10px
 }

 mat-toolbar{
  height:80px
 }


 p{
  text-align: center;
  margin-top: 40px;
 }
 
 .profile {
  display: flex;
  justify-content: space-between;
}

.navbar-brand{
  padding-left: 20px;
  padding-top: 20px;
} 

.dropdown-item {
  float: right;
} */
 














/* nav {
  height: 100%;
}

.side-nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.side-nav-button:hover {
  background-color: rgba(255, 255, 255, 0.232);
  border-radius: 30%;
}

header {
  position: fixed;
  width: 100%;
  top: 0px;
  height: 4rem;
  z-index: 2;
}

.form{
  padding-left:50px;
  
} */

