.container{
    margin-left: 20px;
    

}


tr , td{
    font-family:Tahoma, sans-serif
}

h1{
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

.btn-warning{
    margin-right: 20px;
}

.btn-primary{
    margin-top: 40px;
    margin-bottom: 30px;
}

.btn-secondary{
    /* margin-bottom:60px; */
    float:right;
    margin-top: 40px;
}

