

<div class="container">
    <h1 class="mb-0">Grant Program</h1>
     <div>
    <button [disabled]="isDisabled" class=" btn btn-primary " [routerLink]="['/add-grant-view']">ADD</button>
    <!-- <div class="text-end">  -->
     <button class=" btn btn-secondary " [routerLink]="['/navs']">Go Back</button>
    </div>   
     <table class="table" *ngIf="grants && grants.length>0" >
    
     <thead>
            <tr>
              <td>Grant Name</td>  
              <td>Program Code</td>  
              <td>Start Date</td>   
              <td>End Date</td>  
              <td *ngIf="role==='admin'">Actions</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let grant of grants ">
                <td>{{grant.grantName}}</td>  
                <td>{{grant.programCode}}</td>  
                <td>{{grant.startDate|date}}</td>  
                <td>{{grant.endDate|date}}</td>  
                <td *ngIf="role==='admin'">
                <button  [disabled]="isDisabled" class=" btn btn-sm btn-warning" routerLink="/edit-grant-view/{{grant.id}}">Edit</button>  
                <button  [disabled]="isDisabled" class=" btn btn-sm btn-danger"  (click)="delete(grant.id)">Delete</button>
                </td>
            </tr>
        </tbody>

    </table>
      <p *ngIf="!grants || grants.length <= 0">No Data to show</p> 
    
</div> 






