mat-toolbar{
    margin-bottom: 40px;
}

h1{
    text-align: center;
    text-decoration: underline;
    font-weight:bold;

}


form{
    width: 30vw;
    margin-top: 30px;
    background-color: antiquewhite;
    height:500px
    
  } 
  
  
 
  