

form{
  width: 30vw;
  margin-left: 0;
  margin-top: 25px;
  background-color: antiquewhite;
  margin-bottom: 100px;
  height:500px
    
} 

mat-toolbar{
    margin-bottom: 40px;
}

h1{
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}

